{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the Home page</h1>

            <p> This is some text in the home webpage.
            <br> I think it's neat that the server live changes the output
            </p>

            <img src = '../static/images/alena-aenami-escape-hd.jpeg'>
        </div>
    </div>
</div>
 {{end}}